<!-- BEGIN frameset -->
<div id="frameset_{ID}" class="frameset" style="visibility: hidden">
    <!-- BEGIN left_frame -->
    <div class="toggle-container">
        <div class="toggle toggle-left {LEFT_FRAME_TOGGLE_CLASS}"></div>
    </div>
    <aside class="leftFrame resizable sidebar-left movable-div position-fixed bottom-0 left-0 animated" style="{LEFT_FRAME_HIDDEN}">
        <div class="content">{LEFT_FRAME_CONTENT}</div>
    </aside>
    <!-- END left_frame -->
    <!-- BEGIN right_frame -->
    <div class="toggle-container">
        <div class="toggle toggle-right {RIGHT_FRAME_TOGGLE_CLASS}"></div>
    </div>
    <aside class="rightFrame resizable sidebar-right movable-div position-fixed bottom-0 right-0 animated" style="{RIGHT_FRAME_HIDDEN}">
        <div class="content">{RIGHT_FRAME_CONTENT}</div>
    </aside>
    <!-- END right_frame -->
    <!-- BEGIN main_frame -->
    <div class="mainFrame d-flex h-100 flex-column">
        <div class="content">{MAIN_FRAME_CONTENT}</div>
    </div>
    <!-- END main_frame -->
</div>
<!-- END frameset -->
<!-- BEGIN javascript -->
<script type="text/javascript">
(function($){

  $(document).ready(function() {

    $('#frameset_{ID}').frameset({
      <!-- BEGIN js_callback_after_resize -->
      afterResizeCallback: {JS_CALLBACK_AFTER_RESIZE},
      <!-- END js_callback_after_resize -->
      <!-- BEGIN js_left_frame -->
      leftFrame: {
        <!-- BEGIN js_lf_min_width -->
        minWidth: '{LEFT_FRAME_MIN_WIDTH}',
        <!-- END js_lf_min_width -->
        <!-- BEGIN js_lf_init_width -->
        initWidth: '{LEFT_FRAME_INIT_WIDTH}'
        <!-- END js_lf_init_width -->
      },
      <!-- END js_left_frame -->
      <!-- BEGIN js_right_frame -->
      rightFrame: {
        <!-- BEGIN js_rf_min_width -->
        minWidth: '{RIGHT_FRAME_MIN_WIDTH}',
        <!-- END js_rf_min_width -->
        <!-- BEGIN js_rf_init_width -->
        initWidth: '{RIGHT_FRAME_INIT_WIDTH}'
        <!-- END js_rf_init_width -->
      },
      <!-- END js_right_frame -->
      mainFrame: {
        <!-- BEGIN js_mf_min_width -->
        minWidth: '{MAIN_FRAME_MIN_WIDTH}'
        <!-- END js_mf_min_width -->
      }
    });



  });

})(jQuery);
</script>
<!-- END javascript -->