<!-- uni-goettingen-patch: begin -->
<script type="text/javascript" src="./Modules/TestQuestionPool/js/md5sum.js"></script>
<script type="text/javascript">
	function textTypeEvent()
	{
		$("#md5sumDisplay").val(md5($("#TEXT").val()));
		onKeyUp="return textTypeEvent()"
	}
</script>
<!-- auding-patch: begin -->
{AUDING}
<!-- auding-patch: end -->
<!-- uni-goettingen-patch: end -->
{QUESTIONTEXT}<br />
<div class="ilClearFloat">
<!-- BEGIN maximum_char_hint -->
	<p class="quote">{MAXIMUM_CHAR_HINT}</p>
<!-- END maximum_char_hint -->
<!-- uni-goettingen-patch: begin -->
<textarea class="fullwidth textinput" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" cols="40" rows="10" name="TEXT" id="TEXT" onKeyUp="return textTypeEvent(this,'myCounter')">{ESSAY}</textarea>
<!-- uni-goettingen-patch: end -->
<!-- BEGIN maxchars_counter -->
<p id="assTextQuestionLetterCounterContainer_{QID}" style="display:none">(<input type="text" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" readonly="readonly" id="assTextQuestionLetterCounter_{QID}" style="border: 0; background: transparent;" size="{TEXTBOXSIZE}" value="{MAXCHARS}" /> {CHARACTERS})</p>
<!-- END maxchars_counter -->
<!-- uni-goettingen-patch: begin -->
<p id="md5sum" style="visibility: visible; color: #B0B0B0;">MD5: <input type="text" readonly="readonly" id="md5sumDisplay" style="border: 0; background: transparent; color: #B0B0B0; font-family: monospace;" size="64" value="" /></p>
<!-- uni-goettingen-patch: end -->
</div>
<!-- uni-goettingen-patch: begin -->
<script type="text/javascript">
	(function (){
		$("#md5sumDisplay").val(md5($("#TEXT").val()));
	}());
</script>
<!-- uni-goettingen-patch: end -->