<!--// uni-goettingen-patch: begin-->
<script type="text/javascript">

	$(document).ready(function(){
		reMap();
		$(function() {
			$( "#sortable" ).sortable({
				placeholder: "showHighlight"
			});
		});
		function reMap()
		{
			$(".ui-state-default" ).each(function( index ) {
				$(this).attr('subname', 'row['+index+']');
			});
			$( ".imageselection" ).each(function( index ) {
				$(this).attr('subname', 'categories['+index+']');
				$(this).attr('id', 'answers[image]['+index+']');
				$(this).attr('name', 'answers[image]['+index+']');
			});
			$( ".BTNsearch" ).each(function( index ) {
				$(this).attr('id', 'answers[image]['+index+']');
				$(this).attr('name', 'answers[image]['+index+']');
			});
			$( ".BTNsubmit" ).each(function( index ) {
				$(this).attr('name', 'cmd[uploadanswers]['+index+']');
			});
			$( ".hiddenImagePostVarAdd" ).each(function( index ) {
				$(this).attr('name', 'answers[count]['+index+']');
			});
			$( ".hiddenImagePostVarPresent" ).each(function( index ) {
				$(this).attr('name', 'answers[imagename]['+index+']');
			});
			$( ".remove" ).each(function( index ) {
				$(this).attr('name', 'cmd[removeimageanswers]['+index+']');
			});
		}
		$( ".clone_fields_add" ).live('click', function() {
			$pos=$(this).closest(".ui-state-default").attr("subname");

			$('[subname="'+$pos+'"]').clone().insertAfter($(this).closest(".ui-state-default").get());
			reMap();
			$res = $pos.match(/\[(.*?)\]/);
			$res = parseInt($res[1])+1;
			$insert_below_row = "row["+ $res + "]";

			$('[subname="'+$insert_below_row+'"]').children().children().children().children().children().each(function( ) {
				if($(this).attr("class")=="imagePreview")
				{
					$(this).removeAttr( "src" );
				}
				if($(this).attr("class")!="BTNsubmit")
				{
					$(this).removeAttr( "value" );
				}
				$(this).removeAttr( "alt" );
				if(($(this).attr("class")=="remove"))
				{
					$(this).remove();
				}
			});
		});
		$( ".clone_fields_remove" ).live('click', function() {
			var n = $(".clone_fields_remove").length;
			if( n > 1 )
			{
				$pos=$(this).closest(".ui-state-default").attr("subname");
				$('[subname="'+$pos+'"]').remove();
				reMap();
			}
		});
	});
</script>
<link rel="stylesheet" type="text/css" href="./Services/Form/css/tpl.prop_textwizardinput.css">
<!--// uni-goettingen-patch: end-->
<div class="form-inlne" id="{ELEMENT_ID}">
	<!--// uni-goettingen-patch: begin-->
	<ul id="sortable">
	<!--// uni-goettingen-patch: end-->
		<tbody class="imgwzd">
<!-- BEGIN row -->
<!--// uni-goettingen-patch: begin-->
<li class="ui-state-default">
	<table class="imagewizard table table-condensed table-striped">
		<!--// uni-goettingen-patch: end-->
			<tr class="imgwzd">
				<td class="imagecolumn">
<!-- BEGIN addimage -->
					<input type="hidden" name="{IMAGE_POST_VAR}[count][{IMAGE_ROW_NUMBER}]" value="1" />
					<div class="imageselection">
					<div class="row">
						<div class="col-md-9">
							<div class="input-group">
									<span class="input-group-btn">
										<span class="btn btn-default btn-file">
											{IMAGE_BROWSE} <input class="upload" type="file" id="{IMAGE_ID}" name="{IMAGE_POST_VAR}[image][{IMAGE_ROW_NUMBER}]" size="20" />
										</span>
									</span>
								<input type="text" class="form-control" readonly="readonly">
							</div>
						</div>
						<div class="col-md-3">
							<input type="submit" class="btn btn-default" name="cmd[upload{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{IMAGE_SUBMIT}" />
						</div>
					</div>
<!-- BEGIN image -->
					<div class="imagepresentation">
						<input type="hidden" name="{IMAGE_POST_VAR}[imagename][{IMAGE_ROW_NUMBER}]" value="{IMAGE_NAME}" />
						<img style="margin: 5px 0px 5px 0px;" src="{SRC_IMAGE}" alt="{ALT_IMAGE}" {WIDTH} {HEIGHT} border="0" /><br />
						<input type="submit" class="btn btn-default" name="cmd[removeimage{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{TXT_DELETE_EXISTING}" /><br />
					</div>
<!-- END image -->
					</div>
<!-- END addimage -->
				<!--// uni-goettingen-patch: begin-->
				<!--</td>	-->
				<!--// uni-goettingen-patch: end-->
				<td class="ilValignTop">
					<button type="button" name="{CMD_ADD}" class="imagewizard_add btn btn-link" id="add_{ID}" onclick="javascript: void(0); return false;">{ADD_BUTTON}</button>
					<button type="button" name="{CMD_REMOVE}" class="imagewizard_remove btn btn-link" id="remove_{ID}" onclick="javascript: void(0); return false;">{REMOVE_BUTTON}</button>
<!-- BEGIN move -->
					<button type="button" name="{CMD_UP}" class="imagewizard_up btn btn-link" id="up_{ID}" onclick="javascript: void(0); return false;">{UP_BUTTON}</button>
					<button type="button" name="{CMD_DOWN}" class="imagewizard_down btn btn-link" id="down_{ID}" onclick="javascript: void(0); return false;">{DOWN_BUTTON}</button>
<!-- END move -->
				</td>
			</tr>
		<!--// uni-goettingen-patch: begin-->	
	</table>
</li>	<!--// uni-goettingen-patch: end-->
<!-- END row -->
		</tbody>
		<!--// uni-goettingen-patch: begin-->
</ul>	<!--// uni-goettingen-patch: end-->
	<div class="ilFormInfo">{TXT_MAX_SIZE}<!-- BEGIN allowed_image_suffixes --> {TXT_ALLOWED_SUFFIXES}<!-- END allowed_image_suffixes --></div>
</div>