<!-- PATCH-BEGIN: excludeMcOptions -->
<div class="ilc_question_SingleChoice" data-qst-id="{QUESTION_ID}">
<!-- PATCH-END: excludeMcOptions -->
	<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
	<div class="ilc_answers answers answer-table ilClearFloat">
<!-- BEGIN answer_row -->
		<div class="ilc_qanswer_Answer">
			<div>
				<!-- PATCH-BEGIN: excludeMcOptions -->
				<input type="radio" name="multiple_choice_result" value="{ANSWER_ID}" class="ilAssSingleChoiceOption" id="answer_{ANSWER_ID}" data-qst-id="{QID}" data-ans-id="{ANSWER_ID}" {CHECKED_ANSWER} {INPUT_DISABLED}/>
				<!-- PATCH-END: excludeMcOptions -->
			</div>
			<div>
				<!-- PATCH-BEGIN: excludeMcOptions -->
				<label for="answer_{ANSWER_ID}" class="answertext {EXCLUDED_OPTION_CSS_CLASS}">
				<!-- PATCH-END: excludeMcOptions -->
<!-- BEGIN preview -->
					<div class="ilc_media_cont_MediaContainer">
						<div class="ilc_qimg_QuestionImage ilc_Mob"><img border="0" src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" /></div>
						<div class="ilc_qimgd_ImageDetailsLink ilc_media_caption_MediaCaption"><a target="_blank" href="{URL_PREVIEW}" title="{TEXT_PREVIEW}"><img border="0" align="right" src="{IMG_PREVIEW}"/></a></div>
					</div>
<!-- END preview -->
<!-- BEGIN answer_image -->
					<div class="ilc_media_cont_MediaContainer">
						<div class="ilc_qimg_QuestionImage ilc_Mob">
							<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" />
						</div>
					</div>
<!-- END answer_image -->
					{ANSWER_TEXT}
				</label>
			</div>
			<!-- PATCH-BEGIN: excludeMcOptions -->
			<!-- BEGIN toggle_exclusion -->
			<div>
				<a id="{TOGGLE_EXCLUSION_BTN_ID}" class="btn btn-default mcExclusionToggle {TOGGLE_EXCLUSION_BTN_CSS_CLASS}" href="#" data-qst-id="{QID}" data-ans-id="{ANSWER_ID}">&nbsp;{TOGGLE_EXCLUSION_BTN_LABEL}&nbsp;</a>
			</div>
			<!-- END toggle_exclusion -->
			<!-- PATCH-END: excludeMcOptions -->
		</div>
<!-- BEGIN feedback -->
		<div>
			<span class="feedback">{FEEDBACK}</span>
		</div>
<!-- END feedback -->
<!-- END answer_row -->	
	</div>
	<!-- PATCH-BEGIN: excludeMcOptions -->
	<input type="hidden" name="excluded_mc_options" value="{EXCLUDED_OPTIONS_INPUT}" />
	<!-- PATCH-END: excludeMcOptions -->
</div>
<!-- PATCH-BEGIN: excludeMcOptions -->
<!-- BEGIN exclude_mc_options_js -->
<script type="text/javascript">
    (function($) { $(document).ready(

        function()
        {
            var question = $.fn.ilAssMultipleChoiceEngine({QUESTION_ID}, {
                qstContainerSelectorBase: 'div.ilc_question_SingleChoice',
                mcOptionsSelector: 'input.ilAssSingleChoiceOption',
                exclusionToggleBtnSelector: 'a.mcExclusionToggle',
                exclusionToggleBtnLabels: {
                    exclude_option_button: '{EXCLUDE_OPTION_BUTTON_LABEL}',
                    include_option_button: '{INCLUDE_OPTION_BUTTON_LABEL}'
                },
                excludedMcOptions: {EXCLUDED_OPTIONS_JSON},
				excludedMcOptionsInputName: 'excluded_mc_options'
            });

            question.init();
        }

    ); }(jQuery));
</script>
<!-- END exclude_mc_options_js -->
<!-- PATCH-END: excludeMcOptions -->