<br><br>
<table style="border-collapse: collapse" border="0">
<tr class="std">
	<th style="border-right: 1px solid black; font-size: 80%; width: 40%"><b>{NAME_TXT}</b><br><p style="font-size: 70%; font-weight: bold; font-style: italic;">Surname, First Name</p></th>
	<th style="border-right: 1px solid black; font-size: 80%; width: 20%"><b>{MAT_NUM_TXT}</b><br><p style="font-size: 70%; font-weight: bold; font-style: italic;">Matriculation Number</p></th>
<th style="font-size: 80%; width: 40%" colspan="2"><b>SHA256 &nbsp;</b></th>
</tr>
<!-- BEGIN hash_items -->
<tr class="std">
	<td class="std" style="border-top: 1px solid black; border-right: 1px solid black; font-size: 80%; width: 40%">{STUDENT_NAME}</td>
	<td class="std" style="border-top: 1px solid black; border-right: 1px solid black; font-size: 80%; width: 20%">{STUDENT_MAT_NUM}</td>
	<td class="std" style="border-top: 1px solid black; font-size: 80%; width: 40%"><tt><b>{STUDENT_SHA256}</b></tt></td>
</tr>
<!-- END hash_items -->
</table>
