<script type="text/javascript">
    function saveTextarea()
    {
      tinyMCE.triggerSave();

      $.post(
        '{FEEDBACK_SAVE_URL}',
        {
          manual_feedback: $('#frameset_{ID} textarea').val()
        },
        function() {

        }
      )
    }

    (function($){
      $(document).ready(function() {

        $('#frameset_{ID} form.manual_scoring').submit(function(e){
          tinyMCE.triggerSave();
          return true;
        });

      });
    })(jQuery);

</script>