<script type="text/javascript">
    function saveTextarea()
    {
      tinyMCE.triggerSave();

      $.post(
        '{FEEDBACK_SAVE_URL}',
        {
          manual_feedback: $('#frameset_{ID} textarea').val()
        },
        function() {

        }
      )
    }

    function resizeTinyMce(e, framesetId, frameClass)
    {
      var editor = tinyMCE.get(
        $('#' + framesetId + ' .' + frameClass).find('.tinymce_manscoring_{ID}').attr('id')
      );

      editor.execCommand('mceResizeContent');
    }

    (function($){
      $(document).ready(function() {

        $('#frameset_{ID} form.manual_scoring').submit(function(e){
          tinyMCE.triggerSave();
          return true;
        });

      });
    })(jQuery);

</script>